<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <ejs-scripts></ejs-scripts>
</body>
</html>
